.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #57C785, #57C785);
  color:#343a40;
  /* font-family: "Inter", sans-serif; */
}

/* Glass card */
.card {
  /* background: rgba(255, 255, 255, 0.12); */
  background: white;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 50px 60px;
  text-align: center;
  width: 90%;
  max-width: 520px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}

/* Title */
.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Subtitle */
.subtitle {
  font-size: 16px;
  opacity: 0.85;
  line-height: 1.6;
  margin-bottom: 35px;
}

/* Buttons */
.buttonGroup {
  display: flex;
  justify-content: space-between;
}

/* Student button */
.studentBtn {
  background: linear-gradient(135deg, #6366f1, #9333ea);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  padding: 5px 15px;
}

.studentBtn:hover, .adminBtn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.5);
}

/* Admin button */
.adminBtn {
  background: linear-gradient(135deg, #6366f1, #9333ea);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px 15px;
}

.adminBtn:hover {
  /* background: rgba(255, 255, 255, 0.15); */
  transform: translateY(-3px);
}

/* Footer */
.footer {
  margin-top: 30px;
  font-size: 13px;
  opacity: 0.75;
}
