.mainContainer{
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;
    height: 100vh;
    gap:2rem
}

.mainContainer .formContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50%;
}

.formContainer .heading{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: serif;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form .inputGroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputGroup .labelContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labels .asterisk{
    color: red;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

.labelContainer label, .inputGroup .labels{
    font-size: 16px;
}

.link{
    font-size: 14px;
    color: #0070f3;
    text-decoration: none;
} 

.input{
    background-color: #f5f3f4;
    padding: 8px 12px;
    border-radius: 6px;
    width: 100%;
    font-size: 14px;
    outline: none;
}

.formContainer .flexContainer{
    display: flex;
    gap: 10px;
}

.formContainer .signInBtn{
    background-color: #4f46e5;
    padding: 8px 16px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    align-self: center;
    cursor: pointer;
}

.mainContainer .image{
    /* width: 80%; */
    border-radius: 10px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 44px 12px 12px; /* space for icon */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6b7280;
}

.eyeIcon svg {
  font-size: 20px;
}

.eyeIcon:hover {
  color: #111827;
}
